@import 'constants.scss';

@font-face{
  font-family: bit8;
  src:url('./8-BIT.TTF');
}

@keyframes move {
  20%, 100% {
    transform: rotate(180deg);
  }
}

body {
  
}


body{
  margin:0;
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  background-color:$background;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 
    "header"
    "content";
}

.header{
  grid-area: header;
  background-color:$header;
  padding: 10px;
  font-family: bit8;
}

.content {
  grid-area: content;
  padding: 30px;
}

.searchForm{
  display: flex;
  #searchInput{
    box-sizing: border-box;
    border-radius: 0;
    font-weight: 400;
    width: 100%;
    border: 0;
    margin: 0;
    height: 52px;
    letter-spacing: 1px;
    font-size: 18px;
    background-color: $inputs;
  }

  #searchButton{
    background-color:$buttons;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    height: 52px;
    padding: 0px 25px;
    border: none;
  }
}

#resultContent{
  margin-top: 70px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 250px 150px;
  grid-auto-flow: dense;
  .item{
    background-image: url('../images/blocksLoader.gif');
    background-repeat: no-repeat;
    background-position: center;
    img{
      width:100%;
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: 480px) {
      &:first-child{
        grid-area: 1 / 1 / span 2 / span 2;
      }
      &:nth-child(3n){
        grid-column: span 2;
      }
    }
  }

}

#loaderContainer{
   .loaderItem{
    font-family: bit8;
    width: 10em;
    margin: 3em auto;
    text-align: center;

    img{
      animation: move 3s infinite ease-in-out;
    }
  }
}